body
{
    font-family: 'Roboto', sans-serif;
    background-color: none;
}
.navbar a, .navbar-brand
{
    color: #F0BB62;
    font-size: 19px;
    margin-top: 12px;
}
.navbar a.navbar-brand 
{
    color: #F0BB62;
    font-weight: bold;   
}
.navbar a.navbar-brand:hover
{
    color: #F4EEA9;
}
.navbar-expand-sm .navbar-nav > li > a {
    font-size: 18px;
    margin-top: 12px;
}
.navbar-expand-sm .navbar-nav .nav-link{
    color: #F0BB62;
}
.navbar-expand-sm .navbar-nav .nav-link:hover{
    color: #F4EEA9;
    text-decoration: underline;
}
.card{
    border:1px solid #F0BB62;
}
.card-header{
    background-color:#064635;
    color: #F0BB62;
}
.card-body p{
    color: #F0BB62;
    font-size:43px;
    font-weight:bolder;
}
footer p{
    color: #064635;
    font-weight:bolder;
}
label{
    font-size:16px;
    font-weight: bold;
}
.btn-outline-primary{
    background-color: #064635;
    color: #fff;
}

.format-text p{
    font-size: 17px;
}

.status-licenca-dentro-do-prazo{
    padding:5px;
    color: #FFF;
    background-color: #198754;
    font-weight: bolder;
    font-size: 15px;
}
.status-licenca-atencao-prazo{
    padding:5px;
    color: #000;
    background-color: #ffc107;
    font-weight: bolder;
    font-size: 15px;
}
.status-licenca-prazo-vencido{
    padding:5px;
    color: #FFF;
    background-color: #dc3545;
    font-weight: bolder;
    font-size: 15px;
}